#game-board {
    width: 602px;
    height: 602px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #000;
}

.game-board-space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 9px;
    border: 1px solid #000;
}

.word-3 {
    background-color: #f00;
}

.word-2 {
    background-color: #da6537;
}

.letter-3 {
    background-color: #1780c7;
}

.letter-2 {
    background-color: skyblue;
}

.normal-1 {
    color: #fff
}