.tile {
    background-color: #b18d5e;
    color: #000;
    width: 30px;
    height: 30px;
    font-size: 9px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}